/* CSS Document */

body { width:750px; height: 100%;  overflow: hidden; margin: 0px; position:absolute; left: 0px; top: 0px;background-color: #fff;}

section { position:absolute; width: 750px; height: 100%; overflow: hidden;}
img{border: none;border: 0px;}
a, img { -webkit-touch-callout: none; }
a { text-decoration: none; border: none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
#loading{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 200;
}


#loading .load{
    width: 276px;
    height: 345px;
    background-size: 3312px 345px;
    background-position: 0px 0px;
    background-image: url('../images/e3.png');
    position: absolute;
    top: 580px;
    left: 237px;
    z-index: 9999;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-animation:loadingAni 1.8s linear infinite;
    -webkit-animation-timing-function:step-start;
    animation-timing-function:step-start;
}
#play{
    width: 312px;
    height: 123px;
    position: absolute;
    top: 880px;
    left: 50%;
    -webkit-transform:translate(-50%,0%);
   transform:translate(-50%,0%);
   z-index: 999;
   display: none;
}
#loading #progress{
    position: absolute;
    left: 0px;
    width: 100%;
    font-size: 30px;
    color: #000;
    top: 520px;
    text-align: center;
}



@-webkit-keyframes loadingAni{
    100%{
        background-position: 0px 0;
    }
    95%{
        background-position: 276px 0;
    }
    90%{
        background-position: 552px 0;
    }
    85%{
        background-position: 828px 0;
    }
    80%{
        background-position: 1104px 0;
    }
    75%{
        background-position: 1380px 0;
    }
    70%{
        background-position: 1656px 0;
    }
    65%{
        background-position: 1932px 0;
    }
    60%{
        background-position: 2208px 0;
    }
    55%{
        background-position: 2484px 0;
    }
    50%{
        background-position: 2760px 0;
    }
    45%{
        background-position: 3036px 0;
    }
    40%{
        background-position: 3312px 0;
    }
    35%{
        background-position: 3312px 0;
    }
    30%{
        background-position: 3312px 0;
    }
    24%{
        background-position: 3312px 0;
    }
    20%{
        background-position: 3312px 0;
    }
    16%{
        background-position: 3312px 0;
    }
    12%{
        background-position: 3312px 0;
    }
    8%{
        background-position: 3312px 0;
    }
    4%{
        background-position: 3312px 0;
    }
    0%{
        background-position: 3312px 0;
    }
}


#loading .loading_main{background:url(../images/loading.jpg) no-repeat;-webkit-animation:loading 5s linear infinite;-webkit-animation-timing-function:step-start;animation-timing-function:step-start;width:283px;height:328px;left:450px;top:247px;position:absolute}

@-webkit-keyframes loading{
    from to{background-position:0 0}
    7.142857142857143%{background-position:-566px -328px}
    14.285714285714286%{background-position:-849px -328px}
    21.42857142857143%{background-position:0 -656px}
    28.571428571428573%{background-position:-283px -656px}
    35.714285714285715%{background-position:-566px -656px}
    42.85714285714286%{background-position:-849px -656px}
    50%{background-position:-1132px 0}
    57.142857142857146%{background-position:-1132px -328px}
    64.28571428571429%{background-position:-283px 0}
    71.42857142857143%{background-position:-566px 0}
    78.57142857142857%{background-position:-849px 0}
    85.71428571428572%{background-position:0 -328px}
    92.85714285714286%{background-position:-283px -328px}
}
